/* TONALIDADES DE VERDES DE MÃS OSCURO A CLARO
#006837
#009245
#39b54a
#22b573
*/

/*--------------------------------NAVBAR-------------------------------------*/
.navbar{
    background-color: #009245;
    margin-bottom: 2%;
}

#imagen-nav {
    height: 200px;
}

.nav-item > a{
    color: white;
    font-size: 30px;
    text-decoration: none;
}

ul, li{
    padding-right: 80px;
}


/*--------------------------------MAIN-------------------------------------*/

/*--------------------------------FOOTER-------------------------------------*/

.footer-container{
    background-color: #009245;
    padding-top: 1%;
    margin-top: 2%;
}

#imagen-footer {
    padding-bottom: 10px;
    padding-left: 10px;
    height: 150px;
    float: left;
}

.col-lg-7 > p{
    color: white;
}

.col-lg-3 > p{
    color: white;
}

.footer-li {
    color: white;
}

.footer-li > a{
    color: white;
    text-decoration: none;
}