/* TONALIDADES DE VERDES
rgb(102, 187, 106);
rgb(129, 199, 132);
rgb(46, 125, 50);
rgb(218, 247, 166);
rgb(51,255, 51);
rgb(51, 153, 51);
*/

/*--------------------------------NAVBAR-------------------------------------*/
.navbar{
    background-color: rgb(243, 243, 243);
}

#imagen-logo {
    height: 200px;
}

a.nav-link{
    color: rgb(51, 153, 51);
    font-size: 30px;
}

/*--------------------------------MAIN-------------------------------------*/


/*--------------------------------FOOTER-------------------------------------*/

