/* TONALIDADES DE VERDES DE MÃS OSCURO A CLARO
#006837
#009245
#39b54a
#22b573
*/

/*--------------------------------NAVBAR-------------------------------------*/
.navbar{
    background-color: #009245;
    margin-bottom: 2%;
}

#imagen-nav {
    height: 200px;
}

.nav-item > a{
    color: white;
    font-size: 30px;
    text-decoration: none;
}

ul, li{
    padding-right: 80px;
}


/*--------------------------------MAIN-------------------------------------*/

/* Container for the main content */
#contenedor-login, #contenedor-registro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
/* Cardboard for Login */
#loginform, #registroform {
    background: #FFFFFF;
    box-shadow: 0px 14px 32px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px;
    width: 340px;
    box-sizing: border-box;
}
/* Separator for fields in Login form */
.input-field {
    margin-bottom: 20px;
}

/*IMG center*/
#imagen-logo {
    display: flex;
    justify-content: center;
}

/*--------------------------------FOOTER-------------------------------------*/

.footer-container{
    background-color: #009245;
    padding-top: 1%;
    margin-top: 2%;
}

#imagen-footer {
    padding-bottom: 10px;
    padding-left: 10px;
    height: 150px;
    float: left;
}

.col-lg-7 > p{
    color: white;
}

.col-lg-3 > p{
    color: white;
}

.footer-li {
    color: white;
}

.footer-li > a{
    color: white;
    text-decoration: none;
}