/* TONALIDADES DE VERDES DE MÃS OSCURO A CLARO
#006837
#009245
#39b54a
#22b573
*/

/*--------------------------------NAVBAR-------------------------------------*/
.navbar{
    background-color: #009245;
    margin-bottom: 2%;
}

#imagen-nav {
    height: 100px;
}

.nav-item > a{
    color: white;
    font-size: 30px;
    text-decoration: none;
}

ul, li{
    padding-right: 80px;
}


/*--------------------------------MAIN-------------------------------------*/

/* Container for the main content */
#contenedor-login, #contenedor-registro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#contenedor-login{
    margin-top: 10%
}

/* Cardboard for Login */
#loginform, #registroform {
    background: #FFFFFF;
    box-shadow: 0px 14px 32px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px;
    width: 340px;
    box-sizing: border-box;
}

/* Separator for fields in Login form */
.input-field {
    margin-bottom: 20px;
}

/*IMG center*/
#imagen-logo {
    display: flex;
    justify-content: center;
}

/*Letter Index*/
#letras-index h2{
    display: flex;
    justify-content: center;
}

#letras-index p{
    margin-left: 20%;
    margin-right: 20%;
}

.form-contact{
    background: #FFFFFF;
    box-shadow: 0px 14px 32px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px;
    width: 340px;
    box-sizing: border-box;
    margin-left: 2%;
    width: 20%;
}

.form-contact div{
    margin-bottom: 10px;
}

.donde-estamos{
    background: #FFFFFF;
    box-shadow: 0px 14px 32px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px;
    width: 340px;
    box-sizing: border-box;
    margin-left: 2%;
    width: 20%;
    margin-left: 35%;
    margin-top: -200px;
}

.mapa{
    margin-top:10%;
    margin-left: 2%;
}

/*--------------------------------FOOTER-------------------------------------*/

.footer-container{

    background-color: #009245;
    padding-top: 1%;
    margin-top: 2%;
    
}

.footer-container-pequeno{
    background-color: #009245;
    padding-top: 1%;
    margin-top: 2%;
    position: absolute;
    bottom: 0;
}


#imagen-footer {
    padding-bottom: 10px;
    padding-left: 10px;
    height: 150px;
    float: left;
}

.col-lg-7 > p{
    color: white;
}

.col-lg-3 > p{
    color: white;
}

.footer-li {
    color: white;
}

.footer-li > a{
    color: white;
    text-decoration: none;
}